body {
    background-color: papayawhip;
    max-width: 800px;
}

pre {
    margin: 0;
}

.quote {
		color: seagreen;
}

textarea {
    height: 150px;
}

article > header {
		font-weight: bold;
}

.text {
		margin: 1em;
}

form {
		max-width: 400px;
}

form > *:not(label, [type=submit]) {
		width: 100%;
		display: block;
		box-sizing: border-box;
		margin-bottom: 1em;
}
